body {
  font-family: Arial;
  background: #fff;
  padding: 20px;
}

header {
  text-align: center;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
}

.cart {
  margin-top: 40px;
  text-align: center;
}

button {
  padding: 10px;
  cursor: pointer;
}
